@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);






body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
.header{
	background: url(..//img/bg.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	position: relative;
	z-index: 3;
	max-height: 830px;
}
.header:before{
	background: rgb(0 0 0 / 20%);/*задаем цвет и прозрачность затемнения*/
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1}


.banner{
	background: url(..//img/icons/top-bg.png) no-repeat;
	background-position: center center;
	background-size: cover;
}
.wrapper{
	max-width: 1231px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.top__header{
	display: flex;
	justify-content: space-between;
	padding-top: 18px;
	padding-bottom: 14px;
	border-bottom: 3px solid #717586
}
.tel{
	text-decoration: none;
	font-family: TimesNewPSMT;
	font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.05em;
	color: #fff;
	position: relative;
	padding-right: 115px;
	padding-left: 20px;
}
.tel::before{
    content: "";
    position: absolute;
    background: url(../img/icons/phone.png);
    display: block;
    width: 16px;
    height: 17px;
    left: -3px;
    right: 0px;
    top: calc(50% - 10px);
}
.mail{
	text-decoration: none;
	font-family: TimesNewPSMT;
	color: #fff;
	font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.05em;
    position: relative;
}
.mail::before{
    content: "";
    position: absolute;
    background: url(../img/icons/mail.png);
    display: block;
    width: 20px;
    height: 17px;
    left: -23px;
    right: 0px;
    top: calc(50% - 10px);
}
.pic{
	padding-right: 110px;

}
.login{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.05em;
    position: relative;
    padding-right: 36px;
}
.login::before{
	content: "";
    position: absolute;
    background: url(../img/icons/login.png);
    display: block;
    width: 17px;
    height: 18px;
    left: -23px;
    right: 0px;
    top: calc(50% - 10px);
}
.signup{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.05em;
    position: relative;
}
.signup::before{
	content: "";
    position: absolute;
    background: url(../img/icons/sign.png);
    display: block;
    width: 19px;
    height: 18px;
    left: -23px;
    right: 0px;
    top: calc(50% - 10px);
}
.bottom__header{
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	z-index: 5;
}
.logo{
	text-decoration: none;
	color: #fff;
	font-size: 33.5px;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height:15px;
}
.letters{
	letter-spacing: -0.26em;
    color: #ffdd00;    
}

.suplogo{
	font-size: 8.8px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-top: 0;
}
.nav{
	list-style-type: none;
	padding-left: 0;
	display: flex;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 10px;
}
.nav>li{
	padding-left: 20px;
}
.list{
	text-decoration: none;
	color: #fff;
	font-size: 16.2px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin-left: 35px;
	position: relative;
}
.list::after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	background: #ffdd00;
	left: 0;
	top: 35px;
	z-index: 1;
	opacity: 0;
    transition: opacity .2s linear
}
.list:hover:after{
	opacity: 1;
}
.title{
	max-width: 800px;
	margin: 0 auto;
	padding-top: 104px;
	padding-bottom: 167px;
}
h1{
	text-align: center;
	font-size: 75.1px;
	font-weight: 900;
	letter-spacing: 0.005em;
	padding-bottom: 47px;
}
.h1{
	font-size: 40.7px;
	text-transform: uppercase;
	letter-spacing: 0.305em;
}
.subtitle{
	text-align: center;
	font-family: Lato;
    font-size: 17.8px;
    letter-spacing: 0.025em;
    padding-bottom: 26px; 
}
.btn_title{
	display: block;
	font-size: 15.2px;
	font-weight: 700;
	text-transform: uppercase;
    letter-spacing: 0.005em;
    color: #000000;
    text-decoration: none;
    border: 2px solid #f1d939;
    max-width: 214px;
    text-align: center;
    padding: 16px 0;
    border-radius: 8px;
    background-color: #f1d939;
    margin: 0 auto;
}
.btn_title:hover{
	transform: scale(1.15);
	transition: 0.4s ease;
}
.search{
	background-color: #f0d839;
	padding-top: 1px;
	padding-bottom: 20px;
}
.wrapper__search{
	max-width: 1224px;
	margin: 0 auto;
	padding-left: 15px;
}
.hotels{
	text-align: center;
	padding-top: 17px;		
}
.search_form {
	display: flex;
	justify-content: space-between;

}

form{
	padding-bottom: 35px;
}
input{
	max-height: 31px;	
	border-radius: 4px;
	border: 0 solid #fff;
	height: 31px;
	margin-top: 14px;
}
input[name="where"]{
	max-width: 237px;
}
input[name="Check in"]{
	max-width: 208px;
}
input[name="Check out"]{
	max-width: 207px;
}
input[name="Adult"]{
	max-width: 103px;
}
input[name="Child"]{
	max-width: 103px;
}
.submit_btn{
	width: 185px;
	background-color: #4c4c4c;
	color: #fff;
	text-transform: uppercase;
	font-size: font-size: 15.2px;
	margin-top: 24px;
}
.search__tour{
	font-size: 20px;
	font-weight: 500;
    letter-spacing: 0.005em;
}
.content{
	display: flex;
}
.content__text{
	max-width: 526px;
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 35px;
}
.banner__train{
   background: url(../img/train.jpg) no-repeat;
   background-position: center;
   background-size: cover;
   width: 750px;
   max-height: 580px;
}
.trusted{
	font-size: 37.1px;
    font-weight: 900;
    letter-spacing: 0.005em;
    margin-bottom: -26px;
}
.trusted__suptitle{
	font-size: 37.1px;
    font-weight: 400;
    letter-spacing: 0.005em;
}
.trusted__text{
	font-family: Lato;
    font-size: 17.8px;
    font-weight: 500;
    letter-spacing: 0.025em;
    padding-bottom: 39px;
}
.about{
	list-style-type: none;
}
.about__list{
    font-family: Lato;
    letter-spacing: 0.025em;
    font-size: 17.8px;
    position: relative;
    padding-bottom: 36px;
}
.about__list::before{
    content: "";
    position: absolute;
    background: url(../img/icons/checkmarks.png);
    display: block;
    width: 26px;
    height: 27px;
    left: -40px;
    right: 0px;
    top: calc(50% - 34px);
}
.services-wrapper{
	max-width: 1131px;
	margin: 0 auto;
	padding-top: 70px;
	padding-right: 15px;
	padding-right: 15px;
}
.services-wrapper .trusted{
	text-align: center;
	margin-top: 0;
}
.services-wrapper .trusted__suptitle{
	text-align: center;
}
.services{
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
	padding-bottom: 94px;

}
.services-item{
	max-width: 339px;
	padding-left: 50px;
	margin-left: 100px;
}
.services-list{
	list-style-type: none;
	padding-left: 0;
}
.services-list-item{
	font-family: Lato;
	font-size: 17.8px;
	letter-spacing: 0.025em;
	line-height: 26px;
	position: relative;
}
.services-list-item-2{
	font-family: Lato;
	font-size: 17.8px;
	letter-spacing: 0.025em;
	line-height: 26px;
	position: relative;
}

.services-list-item .services-list-heading{
	font-family: Montserrat;
	font-size: 22.3px;
	letter-spacing: 0.005em;
	color: #151515;
	line-height: 53px;
	font-weight: 700;
}
.services-list-item-2 .services-list-heading-2{
	font-family: Montserrat;
	font-size: 22.3px;
	letter-spacing: 0.005em;
	color: #151515;
	line-height: 53px;
	font-weight: 700;
}
.services-list-item:first-child::before{
    content: "";
    position: absolute;
    background: url(../img/icons/servicesmarks1.png);
    display: block;
    width: 56px;
    height: 45px;
    left: -90px;
    right: 0px;
    top: calc(50% - 34px);
}
.services-list-item:nth-child(2)::before{
    content: "";
    position: absolute;
    background: url(../img/icons/teathermark.png);
    display: block;
    width: 65px;
    height: 51px;
    left: -95px;
    right: 0px;
    top: calc(50% - 34px);
}
.services-list-item:last-child::before{
    content: "";
    position: absolute;
    background: url(../img/icons/restaurantmark.png);
    display: block;
    width: 52px;
    height: 60px;
    left: -89px;
    right: 0px;
    top: calc(50% - 34px);
}
.services-list-item-2:first-child::before{
	content: "";
    position: absolute;
    background: url(../img/icons/trainmark.png);
    display: block;
    width: 55px;
    height: 60px;
    left: -90px;
    right: 0px;
    top: calc(50% - 34px);
}
.services-list-item-2:nth-child(2)::before{
	content: "";
    position: absolute;
    background: url(../img/icons/bikemark.png);
    display: block;
    width: 74px;
    height: 46px;
    left: -92px;
    right: 0px;
    top: calc(50% - 34px);
}
.services-list-item-2:last-child::before{
	content: "";
    position: absolute;
    background: url(../img/icons/eyemark.png);
    display: block;
    width: 58px;
    height: 40px;
    left: -90px;
    right: 0px;
    top: calc(50% - 34px);
}
.footer-first{
	color: #fff;
	background: url(../img/bgfooter1.png);
	background-position: center center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.footer-first-text{
	max-width: 980px;
	margin: 0 auto;
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
}
.footer-first-title{
	font-size: 37.1px;
    line-height: 53px;
    font-weight: 900;
    letter-spacing: 0.005em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 90px;
}
.footer-first-suptitle{
	font-size: 37.1px;
    letter-spacing: 0.005em;
    margin: 0;
    padding-bottom: 64px;
    position: relative;
}
.footer-first-quote{
	font-family: 'Lato', sans-serif;
    font-size: 17.8px;
    line-height: 26px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.025em;
    padding-bottom: 110px;
}    
.footer-first-suptitle::after{
    content: "";
    position: absolute;
    background: url(../img/icons/stars.png);
    display: block;
    width: 168px;
    height: 20px;
    left: 423px;   
    right: 0px;
    top: calc(50% - -185px);
}
.customer{
	margin: 0;
	font-size: 24.6px;
    line-height: 35px;
    font-weight: 900;
    letter-spacing: 0.005em;
    position: relative;
}
.customer-item{
	margin: 0;
	font-size: 15.8px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.005em;
    padding-bottom: 98px;
}
.customer::before{
	content: "";
	position: absolute;
	background: url(../img/icons/photo.jpg);
	border-radius: 50px;
	display: block;
    width: 73px;
    height: 69px;
    left: 325px;
    right: 0;
}
.footer-second{
	background: url(../img/layer_13_291.png);
	opacity: 10;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.footer-second-text{
	margin: 0 auto;
	text-align: center;
}
.footer-second-title{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 141px;
	font-size: 37.1px;
    line-height: 53px;
    font-weight: 900;
    letter-spacing: 0.005em;
    color: #ffffff;
}
.footer-second-suptitle{
	font-size: 37.1px;
    line-height: 53px;
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #ffffff;
    padding-bottom: 236px;
}

.footer-third{
	max-width: 1027px;
	margin: 0 auto;
	padding-bottom: 118px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.footer-third-title{
	font-family: Lato;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #262626;
    margin: 0;
}    
.footer-third::before{
	content: "";
	position: absolute;
	background: url(../img/icons/mapmark.png);
	display: block;
    width: 118px;
    height: 177px;
    left: 455px;
    right: 0px;
    top: calc(50% - 273px);   
}
.footer-third-text{
	font-family: TimesNewPSMT;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #262626;
    margin: 0;
}
.email{
	position: relative;
}
.email::before{
    content: "";
	position: absolute;
	background: url(../img/icons/mailmark.png);
	display: block;
    width: 54px;
    height: 42px;
    left: -76px;
    right: 0px;
    top: calc(50% - 28px); 
}
.phone{
	position: relative;
}
.phone::before{
    content: "";
	position: absolute;
	background: url(../img/icons/phonemark.png);
	display: block;
    width: 36px;
    height: 54px;
    left: -67px;
    right: 0px;
    top: calc(50% - 28px); 
}
.address{
	position: relative;
}
.address::before{
	content: "";
	position: absolute;
	background: url(../img/icons/addressmark.png);
	display: block;
    width: 52px;
    height: 54px;
    left: -71px;
    right: 0px;
    top: calc(50% - 28px); 
}

/*соц сети */
.social{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 65px;


}
.social a {
    text-align: center;
    width: 46px;
    height: 40px;
    background: #fff;
    border: 1px solid #f0d839;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius: 50px;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    color: #000;
}
.youtube a:hover {background: #c4302b; color: #fff;}
.google-pluse a:hover {background: #DD4B39; color: #fff;}
.instagram a:hover {background: #3f729b; color: #fff;}
.facebook a:hover {background: #3b5998; color: #fff;}
.vk a:hover {background: #5d84ae; color: #fff;}
.linkedin a:hover {background: #0e76a8; color: #fff;}
.telegram a:hover {background: #249bd7; color: #fff;}

.footer-fourth{
	background-color: #f0d839;
	padding-top: 60px;
	padding-bottom: 65px;
}
.footer-fourth-text{
	margin: 0;
	text-align: center;
	font-family: TimesNewPSMT;
    font-size: 17px;
    line-height: 36px;
    letter-spacing: 0.025em;
}


/*вторая страница */

.travelbudget{
	background: url(../img/bgbudget.jpg);
	max-height: 500px;
}
.travelbudget-wrapper{
	max-width: 1255px;
	margin: 0 auto;
    padding-left: 15px;
	padding-right: 15px;
}
.trusted-budget{
	margin: 0;
	padding-top: 85px;
	text-align: center;
	font-size: 37.1px;
    line-height: 53px;
    font-weight: 900;
    letter-spacing: 0.005em;
}
.trusted-suptitle-budget{
	margin: 0;
	font-size: 37.1px;
    line-height: 53px;
    letter-spacing: 0.005em;
    text-align: center;
    padding-bottom: 65px;
}
.budget{
	display: flex;
	justify-content: center;
	position: relative;
}
.budget-box{
	background-color: #fff;
	margin-right: 45px;
	border-radius: 8px;
	padding-top: 171px;
	max-width: 377px;
}
.budget-title-car{
	margin: 0;
	font-size: 24.4px;
    line-height: 35px;
    font-weight: 800;
    letter-spacing: 0.005em;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
}
.budget-box:hover{
    transform: scale(1.15);
	transition: 0.8s ease;
}

.budget-title-car::before{
	content: "";
	position: absolute;
	background: url(../img/icons/budgetcar.png);
	display: block;
    width: 77px;
    height: 60px;
    left: 151px;
    right: 0px;
    top: calc(50% - 125px);
}
.budget-title-train{
	margin: 0;
	font-size: 24.4px;
    line-height: 35px;
    font-weight: 800;
    letter-spacing: 0.005em;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
}
.budget-title-train::before{
	content: "";
	position: absolute;
	background: url(../img/icons/budgettrain.png);
	display: block;
    width: 62px;
    height: 73px;
    left: 161px;
    right: 0px;
    top: calc(50% - 133px);
}
.budget-title-flight{
	margin: 0;
	font-size: 24.4px;
    line-height: 35px;
    font-weight: 800;
    letter-spacing: 0.005em;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
}
.budget-title-flight::before{
    content: "";
	position: absolute;
	background: url(../img/icons/budgetflight.png);
	display: block;
    width: 57px;
    height: 57px;
    left: 164px;
    right: 0px;
    top: calc(50% - 122px);
}
.price{
	text-align: center;
	font-size: 30.4px;
    line-height: 43px;
    letter-spacing: 0.005em;
    margin: 0;
    width: 397px;
    margin-left: -13px;
    background-color: #f0d839;
    padding-top: 18px;
    padding-bottom: 15px;    
}
.budget-list{
	list-style-type: none;
	padding-left: 131px;
}
.budget-list-description{
	font-family: Lato;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.025em;
    position: relative;
}
.budget-list-description::before{
	content: "";
	position: absolute;
	background: url(../img/icons/checkmarkslittle.png);
	display: block;
    width: 15px;
    height: 17px;
    left: -41px;
    right: 0px;
    top: calc(50% - 7px);
}
.bg-blue{
	background-color: #00a4ff;
	width: 100%;
	height: 280px;
	max-height: 280px;
}


/*слайдер на второй странице*/
.bg{
	background: linear-gradient(180deg, rgb(38, 65, 129), rgb(80, 98, 152), rgb(68, 77, 96));
}
.slider{
	max-width: 1210px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 82px;
	padding-bottom: 90px;
	padding-left: 15px;
	padding-right: 15px;
}
.slider-picture{
	background: url(../img/picslider.jpg);
	height: 545px;
	width: 415px;
	background-size: cover;
	background-position: center center;
	border-radius: 8px;

}
.slider-slider{
	max-width: 712px;
}
.slider-title{
	margin: 0;
	font-size: 37.1px;
    line-height: 53px;
    font-weight: 900;
    letter-spacing: 0.005em;
}
.slider-suptitle{
	margin: 0;
	font-size: 37.1px;
    line-height: 53px;
    font-weight: 400;
    letter-spacing: 0.005em;
    padding-bottom: 50px;
}
.slider-icons-list{
	list-style-type: none;
	padding-left: 0;
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}
.slider-roster{
	text-align: center;
	font-size: 22.3px;
	font-weight: 500;
    letter-spacing: 0.005em;
    width: 100%;
    background: url(../img/icons/bgsliderblue.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;    
}
.slider-roster2{
	text-align: center;
	font-size: 22.3px;
	font-weight: 500;
    letter-spacing: 0.005em;
    width: 100%;
    background: url(../img/icons/bgsliderwhite.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;    
}
.slider-roster::after{
	content: "";
	display: block;
	position: absolute;
    background: url(../img/icons/bgsliderwhite.png) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 239px;
    height: 87px;
    top: -1px;
    opacity: 0;
    z-index: 1;
}
.slider-roster::hover .slider-roster2  {
	text-align: center;
	font-size: 22.3px;
	font-weight: 500;
    letter-spacing: 0.005em;
    width: 100%;
    background: url(../img/icons/bgsliderwhite.png) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;    
}

.slider-text{
	margin: 0;
	padding-top: 50px;
	padding-bottom: 60px;
	font-family: Lato;
    font-size: 17.8px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 0.025em;
}
.slider-button{
	display: block;
	font-size: 15.2px;
	font-weight: 700;
	text-transform: uppercase;
    letter-spacing: 0.005em;
    color: #000000;
    text-decoration: none;
    border: 2px solid #f1d939;
    max-width: 214px;
    text-align: center;
    padding: 16px 0;
    border-radius: 8px;
    background-color: #f1d939;
}
/*третья страница*/

.tours{
	background: url(../img/bg3.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	height: 685px;
}
.wrapper-tours{
	max-width: 1167px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.tours-title{
	margin: 0;
	text-align: center;
	font-size: 37.1px;
    line-height: 53px;
    font-weight: 900;
    letter-spacing: 0.005em;
    padding-top: 70px;
    padding-bottom: 24px;
}
.tours-suptitle{
	margin: 0;
	text-align: center;
	font-size: 37.1px;
    line-height: 53px;
    letter-spacing: 0.005em;
    padding-bottom: 65px;
}
.tours-programm-title{
	margin: 0;
	padding-top: 18px;
	font-size: 28px;
    line-height: 43px;
    font-weight: 900;
    letter-spacing: 0.005em;
}
.tours-programm-text{
	margin: 0;
	font-family: Lato;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.025em;
}
.tours-programm-subtitle{
	margin: 0;
	font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.005em;
}

/* блоки с картинками  */
.tours-main{
	display: flex;
	justify-content: center;
	box-sizing: border-box;	
	
}
.tours-programm{
	box-sizing: border-box;
	max-width: 415px;
	box-shadow: 0 0 2px 2px rgba(221, 221, 221, 1);
	border: 0.5px solid #8c743d;
	border-radius: 10px;
	padding-bottom: 15px;

}
.programm2{
	margin-left: -15px;
	margin-right: -15px;
	position: relative;
	z-index: 1;
}
.programm1:hover{
	transform: scale(1.15);
	transition: 0.8s ease;
	z-index: 2;
}
.programm2:hover{
	transform: scale(1.15);
	transition: 0.8s ease;
}
.programm3:hover{
	transform: scale(1.15);
	transition: 0.8s ease;
	z-index: 2;
}

.box-tour{
	padding-left: 65px;
	padding-right: 65px;
	text-align: center;
	background-color: #fff;
	max-height: 316px;
	padding-bottom: 40px;
	border: 0.5px solid #8c743d;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

}
.yellow{
	margin-bottom: 16px;
	margin-top: 20px;
}
.tours-pics{
	height: 100%;
	max-height: 252px;
	max-width: 413px;
	width: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.bg1{
	background: url(..//img/tour1.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.bg2{
	background: url(..//img/tour2.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.bg3{
	background: url(..//img/tour3.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}
.packeg{
	padding-bottom: 30px !important;
}

/* второй блок с картинками  */

.toursbox{
	background: url(..//img/bgtour2.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
}
.toursbox-wrapper{
	max-width: 1245px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}
.toursbox-vertical{
}
.toursbox-column{
	display: flex;
	justify-content: space-between;
	
}
.toursbox-item{
	border: 0.5px solid #8c743d;
	border-radius: 8px;
	background-color: #fff;
	margin-right: 25px;
	margin-bottom: 25px;
}
.toursbox-item:hover{
	transform: scale(1.15);
	transition: 0.8s ease;
}
.toursbox-bg{
	background-size: cover;
	height: 262px;
    max-width: 380px;
    padding-left: 35px;
    border-radius: 8px;
}
.pic1{
	background-image: url(..//img/pic1.jpg);
}
.pic2{
	background-image: url(..//img/pic2.jpg);
}
.pic3{
	background-image: url(..//img/tour3.jpg);
}
.button-yellow{
	margin-top: -30px;
}
.toursbox-text{
    margin: 0 auto;
    padding: 15px;
    font-family: Lato;
    font-size: 17.8px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.025em;
    text-align: center;
}
.tourbox-title-description{
	font-size: 25px;
    line-height: 43px;
    font-weight: 900;
    letter-spacing: 0.005em;
}	

/* последний контектный блок*/
.last-main{
	max-width: 1365px;
	margin: 0 auto;
}	
.last-main-item1{
	background-image: url(..//img/mask_135.png);
	background-repeat: no-repeat;
	width: 896px;
    height: 570px;
	background-position: center;
	background-size: contain;
	margin-left: -130px;
	margin-top: -30px;
}

.last-main-content{
	display: flex;
	padding-top: 95px;
	padding-bottom: 60px;
	justify-content: center;
}
.last-main-item2{
	padding-left: 45px;
	max-width: 545px;
	border: 0.5px solid #8c743d;
	border-radius: 8px;
	margin-left: -250px;
	background-color: #fff;
}
.last-main-title{
	margin: 0;
	font-size: 37.8px;
    line-height: 54px;
    font-weight: 900;
    letter-spacing: 0.005em;
}
.last-main-suptitle{
	font-size: 24.4px;
    line-height: 35px;
    letter-spacing: 0.005em;
}
.last-list{
	list-style-type: none;
	padding-left: 0;
	display: flex;
	padding-right: 80px;

}
.last-roster{
	font-size: 20.5px;
    line-height: 29px;
    letter-spacing: 0.005em;
	padding-right: 80px;
	padding-top: 95px;
	font-weight: bold;
	position: relative;	
}
.last-roster:first-child::before{
	content: "";
	position: absolute;
	background: url(../img/icons/flight-icon.png);
	display: block;
    width: 45px;
    height: 45px;
    left: 12px;
    right: 0px;
    top: calc(50% - 15px);
}
.last-roster:nth-child(2)::before{
	content: "";
	position: absolute;
	background: url(../img/icons/teathermark.png);
	display: block;
    width: 65px;
    height: 60px;
    left: -4px;
    right: 0px;
    top: calc(50% - 24px);
}
.last-roster:last-child::before{
	content: "";
	position: absolute;
	background: url(../img/icons/autoicon.png);
	display: block;
    width: 54px;
    height: 42px;
    left: 22px;
    right: 0px;
    top: calc(50% - 14px);
}
.last-main-text{
	font-family: Lato;
    font-size: 17.8px;
    line-height: 26px;
    font-weight: 500;
    letter-spacing: 0.025em;
    color: #040404;
    margin: 0;
    padding-bottom: 40px;
}
.last-price{
	font-size: 50.2px;
    line-height: 52px;
    font-weight: 900;
    letter-spacing: 0.005em;
}
.last-box{
	display: flex;
	align-items: center;
}


/* стилизация about и формы обратной связи*/

.background5{
	background-image: url(..//img/rectangle_1_3.jpg);
	background-position: center;
	background-size: cover;
}
.aboutus{
	max-width: 1150px;
	margin: 0 auto;
	padding: 30px;
	color: #fff;
}
.wrapper-contacts{
	max-width: 100%;
	margin: 0 auto;
	padding: 15px;
	background-color: #d2cbcb;
}
.networks{
	padding-top: 50px;
    padding-bottom: 35px;
}
.about{
	padding-bottom: 0;
}

.form {
	max-width: 550px;
	margin: 0 auto;
}
.form__body
.form__title{
	font-size: 40px;
	margin-bottom: 30px;
}
.form__item{
	margin-bottom: 20px;
}
.form__label{
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
}
.form__input{
	padding: 0 20px;
	width: 100%;
}
textarea.form__input{
	min-height: 120px;
	resize: vertical;
	padding: 20px;
}
.form__button{
	width: 100%;
	min-height: 60px;
	background-color: #f3da39;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 0 3px 0 #6e6d15;
}
.form__button:hover{
	background-color: #f3e114;
}
.form__input._error{
	box-shadow: 0 0 15px #f3da39;
}



@media (max-width: 1295px){
	.budget-box{
		width: 355px;
	}
}

@media all and (max-width: 1260px){
	.wrapper__search{
		max-width: 1150px;	
	}
	input[name="where"] {
    width: 200px;
}
    .budget{
    	flex-wrap: wrap;
    }
    .budget-box{
    	margin-top: 10px;
    }
    .bg-blue{
    	padding-bottom: 425px;
    }
}

@media all and (max-width: 1200px){
	.slider-slider {
    width: 600px;
}
    .footer-third {
    max-width: 900px;
}
    .footer-third::before{
    	left: 380px;
    }
    .tours-main{
    	flex-wrap: wrap;
    }
    .tours-programm{
    	padding-bottom: 300px;
    	border: none;
    	box-shadow: none;
    }
    .packeg {
    padding-bottom: 640px !important;
}
}
@media all and (max-width: 1150px){
	.last-main-item2{
		margin-left: -300px;
}
}

@media all and (max-width: 1080px){
    input[name="where"] {
    width: 150px;
}
input[name="Check in"] {
    width: 150px;
}
input[name="Check out"] {
    width: 150px;
}
.slider-title{
	text-align: center;
}
.slider-suptitle{
	text-align: center;
}
.slider-text {
    padding-left: 15px;
}

.slider-icons-list{
	flex-wrap: wrap;
}
.slider-roster{
    background-size: contain;}

.banner__train{
	background-position: center;
}
.footer-third {
    max-width: 800px;}
.footer-third::before {
    left: 315px;
}
.toursbox-column{
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 30px;
}
.toursbox-item{
	max-width: 380px;
}
.last-main-item2 {
    margin-left: -500px;
    margin-right: 15px;
}
}

/* стили для блога */

.blog-container{
	background: #fafafa;
	border-radius: 5px;
	box-shadow: rgb(0,0,0,0.2) 0  4px 2px -2px;
	font-weight: 100;
	margin: 48px auto;
	width: 50rem;
}
.blog-container a:hover{
	color: #ff4d4d;
	border-color: #ff4d4d;
}
.blog-cover{
	background: url(..//img/blog1.jpg) no-repeat;
	background-size: cover;
	border-radius: 5px 5px 0 0;
	height: 15rem;
	box-shadow: inset rgba(0,0,0,0.2) 0 64px 64px 16px;
}
.blog-body{
	margin: 0 auto;
	width: 80%;
}
.blog-title a{
	color: #333;
	text-decoration: none;
	font-size: 24px;
	margin: 0 auto;
}
.blog-text p{
	color: #4d4d4d;
}
.blog-tags ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
}
.blog-tags li + li{
	margin-left: 0.5rem;
}
.blog-tags a{
	border: 1px solid #9999;
	border-radius: 3px;
	color: #9999;
	font-size: 0.75rem;
	height: 1.5rem;
	line-height: 1.5rem;
	letter-spacing: 1px;
	padding: 0 0.5rem;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	width: 5rem;
	background-color: #f0d839; 
}
.blog-footer{
	border-top: 1px solid #e6e6e6;
	margin: 0 auto;
	padding-bottom: 0.125rem;
}
.blog-footer ul{
	list-style: none;
	display: flex;
	flex: row wrap;
	justify-content: flex-end;
}
.blog-footer li{
	color: #9999;
	font-size: 0.75rem;
	height: 1.5rem;
	text-transform: uppercase;
	position: relative;
	white-space: nowrap;
}
.published-date{
	background-color: #f0d839;
    border: 1px solid #9999;
    border-radius: 3px;
    padding: 0 0.5rem;
}
.bg-blog{
	background-color: #00a4ff;
	background-size: cover;
	margin-top: -48px;
    margin-bottom: -48px;
}
.bg-blog1{
	background-color: #00a4ff;
	padding-bottom: 50px;
}
.bg-blog2{
	background-color: #00a4ff;
	padding-top: 50px;
}



@media all and (max-width: 1000px){
	.customer::before{
	left: 300px;
}
}
@media all and (max-width: 980px){
	.nav>li {
     padding-left: 0;
 }
 .content{
 	flex-wrap: wrap;
 }
 .content__text {
    max-width: 600px;
    margin: 0 auto;
}
.customer::before{
	left: 300px;
}
.footer-third {
    max-width: 700px;
}
.footer-third::before {
    left: 265px;
}
}
@media all and (max-width: 950px){
	.services{
		flex-wrap: wrap;
	}
	.services-item{
		max-width: 600px;
		margin: 0 auto;
	}
}
@media all and (max-width: 930px){
	.customer::before{
	left: 280px;
}
}

@media all and (max-width: 915px){
	.customer::before {
    left: 260px;
}
}

@media all and (max-width: 900px){
	input[name="where"] {
    width: 100px;
}
input[name="Check in"] {
    width: 100px;
}
input[name="Check out"] {
    width: 100px;
}
.submit_btn {
    width: 101px;
}
}
@media all and (max-width: 850px){
	.packeg {
    padding-bottom: 1232px !important;
}

@media all and (max-width: 850px){
	.budget-box{
		margin-top: 10px;
	}
	.trusted-suptitle-budget{
		padding-bottom: 20px;
	}
	.trusted-budget{
		padding: 0;
	}
	.bg-blue{
		padding-bottom: 890px
	}
	h3{
		font-size: 35px;
	}
	h1{
		font-size: 50px;
		padding-bottom: 0;
	}
	.title{
		padding-top: 50px;
        padding-bottom: 50px;
	}
	.list{
		margin-left: 20px;
	}
	.customer::before {
    left: 220px;
}
}

@media all and (max-width: 880px){
	.footer-third {
    max-width: 649px;
}
    .customer::before {
    
}
}


@media all and (max-width: 830px){
	.footer-third{
      max-width: 600px;
	}
	.customer::before {
    left: 228px;
}
}

@media all and (max-width: 820px){
	.tel{
		padding-right: 80px;
	}
	.slider {
    flex-wrap: wrap;
    max-width: 475px;
}
}

@media all and (max-width: 820px){
	.customer::before {
    left: 210px;
}
}

@media all and (max-width: 785px){
    .tel{
		padding-right: 40px;
	}
	.suplogo{
		display: none;
	}
	.logo{
	line-height: 29px;
}
    .email::before{
    	display: none;
    }
    .footer-first-suptitle::after{
    	left: 345px;
        top: calc(50% - -215px);
    }
}
@media all and (max-width: 770px){
    .list{
    	font-size: 15px;
    	margin-left: 15px;
    }
    .pic{
    	padding-right: 80px;
    }
    h1{
    	font-size: 45px;
    }
    .services-item {
    max-width: 500px;
}
    .blog-container{
    	width: 28rem;
    }
}

@media all and (max-width: 750px){
	.customer::before {
    left: 185px;
}
}


@media all and (max-width: 730px){
	.pic{
    	padding-right: 50px;
}
}
@media all and (max-width: 700px){
	.logo{
		font-size: 25.5px;
	}
	.pic{ display: none;
}
    .customer::before {
    left: 160px;
}
    .footer-first-suptitle::after {
    left: 300px;
    top: calc(50% - -230px);
}
}
@media all and (max-width: 700px){
	.logo{
		font-size: 20.5px;
}
    .services-item {
    max-width: 400px;
}
}


@media all and (max-width: 680px){
	.search_form{
		flex-direction: column;
	}
     
input[name="where"][type="text"]{
	width: 211px;
}
input[name="Check in"]{
	width: 100%;
}
input[name="Check out"]{
	width: 100%;
}
input[name="Adult"]{
	width: 100%;
}
input[name="Child"]{
	width: 100%;
}	
    .submit_btn {
    width: 100%;
}
.wrapper__search{
	max-width: 300px;
}
.phone::before{
	display: none;
}
.address::before{
	display: none;
}
.last-main-item1{
	width: 593px;
}
.form{
	max-width: 450px;
}
}


@media all and (max-width: 650px){
	.logo{
		display: none;
	}
	.customer::before {
    left: 135px;
}
    .footer-third{
     padding-left: 15px;
    }
    .social a {
    width: 37px;
    height: 35px
}
    .title{
    	display: none;
    }
    .last-main-item2 {
    max-width: 400px;
    margin-left: 15px;}

    .last-main-item1{
     display: none;
    } 

}

@media all and (max-width: 600px){
	.customer::before {
    left: 110px;
}
    .footer-first-suptitle::after {
    left: 228px;
    top: calc(50% - -250px);
}
    .services-item {
    max-width: 290px;
}
    .footer-third::before {
    left: 230px;
}
    .social a {
    width: 34px;
    height: 30px;
}
    .services-list-item .services-list-heading{
    	font-size: 17.8px;
    	line-height: 30px;
    }
    .services-list-item-2 .services-list-heading-2 {
    font-size: 17.3px;
    line-height: 30px;
}
    .last-roster{
    	padding-right: 61px;
    }
}


@media all and (max-width: 580px){
	.nav{
		display: block;
		padding-top: 6px;
	}
	.nav>li{
		padding-top: 5px;
	}
	.list:hover:after{
	opacity: 0;
}
    .form{
	max-width: 350px;
}
}

@media all and (max-width: 560px){
	.customer::before {
    left: 90px;
}
    .footer-first-suptitle::after {
    left: 200px;
    top: calc(50% - -275px);
}
    .social a {
    width: 30px;
    height: 30px;
}
    .last-main-item2 {
    max-width: 400px;
}
}
@media all and (max-width: 535px){
	.customer::before {
    left: 60px;
}
    .social a {
    width: 29px;
    height: 29px;
    margin: 10px 5px 10px 10px;
}
}

@media all and (max-width: 500px){
.tel {
    padding-right: 30px;
}
.footer-third::before {
    left: 190px;
}
}


@media all and (max-width: 480px){
	.mail{
		display: none;
	}
	.footer-third::before {
    left: 152px;
}
    .social a {
    width: 27px;
    height: 28px;
    margin: 10px 3px 10px 7px;
}
    .last-roster {
    padding-right: 43px;
}
    .last-main-item2 {
    max-width: 350px;
} 
    .form {
    max-width: 300px;
}
}

@media all and (max-width: 450px){
	.customer::before {
    left: 169px;
    top: 64px;
}
    .footer-first-suptitle::after {
    left: 117px;
    top: calc(50% - -276px);
}
    .social a {
    width: 28px;
    height: 27px;
    margin: 9px 1px 10px 4px;
}
   .footer-third-title{
   	font-size: 12px;
   }
   .footer-third-text{
   	font-size: 11px;
   }
}

@media all and (max-width: 440px){
	.services-item {
    padding-left: 80px;
}
}

@media all and (max-width: 420px){
	.blog-container{
		width: 20rem;
	}
	.services-wrapper {
    max-width: 350px;
    }
	.trusted__suptitle{
		margin-bottom: 5px;
	}
	.trusted {
    font-size: 33.1px;
}
    .trusted__suptitle {
    font-size: 32.1px;
}
    .services-list-item:first-child::before{
    left: -70px;
    }
    .services-list-item:nth-child(2)::before{
    	left: -76px;
    }
    .services-list-item:last-child::before{
    	left: -69px;
    }
    .services-list-item-2:first-child::before{
    	left: -75px;
    }
    .services-list-item-2:nth-child(2)::before{
    	left: -80px;
    }
    .services-list-item-2:last-child::before{
    	left: -73px;
    }
    .last-main-item2 {
    padding-right: 0px;
    max-width: 330px;
    padding-left: 0;
}

}

@media all and (max-width: 400px){
	.customer::before {
    left: 130px;
}
    .footer-first-suptitle::after {
    left: 91px;
    top: calc(50% - -321px);
}
    .social a {
    width: 27px;
    height: 27px;
    margin: 1px 1px 10px 1px;
}
    .tours-programm {
    max-width: 350px;
}
    .box-tour {
    max-height: 383px;
}
    .packeg {
    padding-bottom: 1400px !important;
}
    .budget-box {
    margin-left: 50px;
}
}
